<div class="login-page">
    <div class="form">
        <!-- טופס הרשמה -->
        <form class="register-form was-validated" (ngSubmit)="registerWithPassword()">
            <input type="text" placeholder="name" id="name" name="username" required [(ngModel)]="registrationDataForm.name"  />
            <div class="valid-feedback">תקין.</div>
            <div class="invalid-feedback">אנא מלא שדה זה.</div>
            <input type="password" placeholder="password" id="password" name="password" required
                [(ngModel)]="registrationDataForm.password" />
            <div class="valid-feedback">תקין.</div>
            <div class="invalid-feedback">אנא מלא שדה זה.</div>

            <input type="email" placeholder="email address" id="email" name="email" required
                [(ngModel)]="registrationDataForm.email" />
            <div class="valid-feedback">תקין.</div>
            <div class="invalid-feedback">אנא מלא שדה זה.</div>

            <button type="submit" class="btn btn-primary w-100 mt-2">הרשמה</button>
            <p class="message">כבר רשום? <a href="#">התחבר</a></p>
        </form>

        <!-- טופס התחברות (רק לעיצוב כרגע, את לא חייבת להשתמש בו) -->
        <form class="login-form">
            <input type="text" placeholder="username" />
            <input type="password" placeholder="password" />
            <button>login</button>
            <p class="message">לא רשום? <a href="#">צור חשבון</a></p>

            <div >
               <asl-google-signin-button></asl-google-signin-button>
            </div>

            <!-- <div *ngIf="user">
                <p>שלום {{ user?.name }}</p>
                <p>{{ user?.email }}</p>
                <button (click)="signOut()">התנתק</button>
            </div> -->
        </form>
    </div>
</div>