<nav>
    <div>
        <a><img src="assets/Logicode_NoSlogan.svg" alt="" routerLink="./"></a>
    </div>
    <div class="links">
        <a routerLink="/cart">
            <i class="pi pi-shopping-cart" style="color:#00c7c7; font-size: 2rem;"></i>
        </a>
        <a routerLink="/contact">
            <i class="pi pi-user" style="color:#00c7c7; font-size: 2rem;"></i>
        </a>
        <a routerLink="/Course">
            <i class="pi pi-user" style="color:#00c7c7; font-size: 2rem;"></i>
        </a>
    </div>
</nav>